﻿<div class="page-header">
    <h1>The single entry point to all PRIS apps</h1>
</div>
<div class="row" ng-show="model.errorMessage">
    <div class="col-md-12 col-sm-12">
        <div class="alert alert-danger">
            <strong>Error:</strong>
            {{model.errorMessage}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-sm-6 pull-right" ng-show="model.loginUrl">
           <div  id="bk">
                <!--Login Form -->
                <div id="wrapper">
                    <form id="loginform" name="form" method="post" action="{{model.loginUrl}}">
                        <anti-forgery-token token="model.antiForgery"></anti-forgery-token>
                            <p id="fad">Username</p>
                        <div class="form-group">
                            <div class="input-group">
                                <input required id="username" name="username" type="text" class="form-control" id="input" ng-model="model.username" maxlength="100" autocomplete="off" focus-if="model.password">

                                <span class="bar"></span>
                                <label>Username</label><span class="input-group-addon">
                                        <i class="glyphicon glyphicon-user"></i>
                                    </span>
                            </div>
                        </div>
                        <p id="fad">Password</p>

                        <div class="form-group">
                        <div class="input-group">
                            <input required id="password" name="password" type="password" class="form-control" ng-model="model.password" maxlength="100" autocomplete="off" focus-if="model.username">
                            <span class="bar"></span>
                            <label>Password</label><span class="input-group-addon">
                                    <i class="glyphicon glyphicon-lock"></i>
                                </span>
                        </div>
                            </div>
                    <!--
                    <div class="form-group login-remember" ng-show="model.allowRememberMe">
                        <label for="rememberMe">
                            <input type="checkbox" id="rememberMe" name="rememberMe" ng-model="model.rememberMe" value="true">
                            <strong>Remember My Login</strong>
                        </label>
                    </div>
                        -->
                        <div class="form-group">
                            <button class="btn btn-primary">Login</button>
                        </div>

                        <div class="form-group">
                            <input type="button" value="New User? Register!" onclick="signup_flip();">
                            <h4><a href="" style="color:white"> Forget Password</a></h4>
                            <h4><a href="" style="color:white"> Resend Activation EMail</a></h4>
                        </div>
                    </form>
                </div>
                </div>
                <ul class="list-unstyled">
                    <li ng-repeat="link in model.additionalLinks"><a ng-href="{{link.href}}">{{link.text}}</a></li>
                </ul>
        </div>
    <div class="col-md-6 col-sm-6 external-providers" ng-show="model.externalProviders.length">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">External Login</h3>
            </div>
            <div class="panel-body">
                <ul class="list-inline">
                    <li ng-repeat="provider in model.externalProviders">
                        <a class="btn btn-default" href="{{provider.href}}">{{provider.text}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
