<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PrisDbEntities" connectionString="metadata=res://*/Models.PrisDb.csdl|res://*/Models.PrisDb.ssdl|res://*/Models.PrisDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=PrisDb;user id=sa;password=arsenal10;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>