<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PrisEntities" connectionString="metadata=res://*/Models.Pris.csdl|res://*/Models.Pris.ssdl|res://*/Models.Pris.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=Pris;user id=fixetlabs;password=z3r0ufx1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>