@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col-md-8">
        <br />
        <p style="font-size:2em; text-align:center; color:black; font-weight:bold"> PRIS Application Manager </p>
        <h4 align="center">The Single Entry Point to all PRIS Apps</h4>
        <p align="center">
            <img src="~/Content/Images/bgm.png" alt="pris" align="middle" style="width:80%; height:auto; margin-left:50px" class="img img-responsive" />
        </p>
    </div>
    <div class="col-md-4" id="bk">
        <!--Login Form -->
        <div id="wrapper">
            <form id="loginform">
                <div id="container">
                    <h2 id="myd">Login Point</h2>
                    <hr width="50%" />
                    <p id="fad">User ID</p>
                    <div class="form-group">
                        <div class="input-group">


                            <input type="text" required name="userid" class="form-control" id="input">

                            <span class="bar"></span>
                            <label>User ID</label><span class="input-group-addon">
                                <i class="glyphicon glyphicon-user"></i>
                            </span>
                        </div>
                    </div>
                    <p id="fad">Password</p>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="password" class="form-control" name="password" required>
                            <span class="bar"></span>
                            <label>User ID</label><span class="input-group-addon">
                                <i class="glyphicon glyphicon-lock"></i>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Login" class="btn btn-danger" />
                        <input type="button" value="New User? Register!" onclick="signup_flip();">
                        <h4><a href="" style="color:white"> Forget Password</a></h4>
                        <h4><a href="" style="color:white"> Resend Activation EMail</a></h4>
                    </div>
                </div>
            </form>
        </div>
        <!--Login Form -->
    </div>

</div>
